@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --base-font-size: 16px;
  --standard-margin: 0 auto;
  --standard-padding: 0.5rem;
  --double-padding: calc(var(--standard-padding) * 2);
  --slim-padding: calc(var(--standard-padding) / 5);
  --background: #fafafa;
  --text: #212121;
  --sans-serif-font: "IBM Plex Sans", sans-serif;
  --sans-serif-condensed-font: "IBM Plex Sans Condensed";
  --monospace-font: "IBM Plex Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-font-size: 16px;
    --standard-margin: 0 auto;
    --standard-padding: 0.5rem;
    --double-padding: calc(var(--standard-padding) * 2);
    --slim-padding: calc(var(--standard-padding) / 5);
    --background: #212121;
    --text: #fafafa;
    --sans-serif-font: "IBM Plex Sans", sans-serif;
    --sans-serif-condensed-font: "IBM Plex Sans Condensed";
    --monospace-font: "IBM Plex Mono", monospace;
  }
}

html {
  font-size: var(--base-font-size);
}

body,
header,
header nav,
main,
section,
footer,
table,
table caption,
table td,
table th {
  padding: var(--standard-padding);
  margin: var(--standard-margin);
  max-width: none;
}

body {
  padding: 0rem 0rem;
  font-size: clamp(100%, 1rem + 2vw, 1.5rem);
  background-color: var(--background);
  color: var(--text);
  font-family: var(--sans-serif-font);
}

header,
footer {
  padding: var(--double-padding);
  font-weight: bold;
}

header {
  text-align: start;
}

header nav a:nth-child(1) {
  color: var(--text);
  text-decoration: none;
  padding-left: var(--standard-padding);
  padding-right: var(--standard-padding);
  border: 0.2rem solid var(--text);
}

header nav a:nth-child(1):link {
  color: var(--text);
  text-decoration: none;
  padding-left: var(--standard-padding);
  padding-right: var(--standard-padding);
}

header nav a:nth-child(1):visited {
  color: var(--text);
  text-decoration: none;
}

header nav a:nth-child(1):hover {
  text-decoration: none;
}

header nav a:link {
  color: var(--text);
  text-decoration: none;
  padding-left: var(--standard-padding);
  padding-right: var(--standard-padding);
}

header nav a:visited {
  color: var(--text);
  text-decoration: none;
}

header nav a:hover {
  text-decoration: overline;
  text-decoration-color: var(--text);
}

h2,
h3,
h4,
h5,
h6,
section {
  max-width: 50rem;
  line-height: 1.25;
}

article > p {
  max-width: 50rem;
  margin: var(--standard-margin);
  padding: var(--standard-padding);
  text-align: center;
  font-size: clamp(100%, 1rem + 2vw, 1rem);
}

h1 {
  max-width: 80rem;
  padding-top: var(--standard-padding);
  padding-left: var(--standard-padding);
  padding-right: var(--standard-padding);
  margin: var(--standard-margin);
  text-align: center;
  color: var(--text);
  font-family: var(--sans-serif-condensed-font);
  font-size: clamp(100%, 3rem + 2vw, 3rem);
}

article > p > time,
article > p > span {
  font-style: italic;
  font-weight: bold;
}

img{ 
  padding: var(--standard-padding);
  margin: var(--standard-margin);
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

p a:link,
p a:visited {
  color: var(--text);
  text-decoration: underline;
  text-decoration-color: var(--text);
}

li {
  padding: var(--slim-padding);
}

code,
pre {
  font-family: var(--monospace-font);
  tab-size: 4;
  white-space: pre-wrap;
  overflow: scroll;
}

pre {
  padding-left: var(--double-padding);
  padding-right: var(--double-padding);
  border: 0.2rem solid var(--text);
}

hr {
  background-color: var(--text);
  opacity: 10%;
  height: 0.1rem;
}

footer {
  text-align: center;
}

table {
  max-width: 100%;
  border: 0.2rem solid var(--text);
  text-align: center;
  border-spacing: 0rem;
  overflow: scroll;
}

table thead,
table tbody {
  overflow: scroll;
}

table caption {
  border-left: 0.2rem solid var(--text);
  border-right: 0.2rem solid var(--text);
  border-top: 0.2rem solid var(--text);
}

table thead tr th:nth-child(1) {
  border-bottom: 0.2rem solid var(--text);
  border-right: 0.2rem solid var(--text);
}

table thead tr th {
  border-bottom: 0.2rem solid var(--text);
}

table tbody tr th {
  border-right: 0.2rem solid var(--text);
}
