@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --base-font-size: 16px;
  --standard-margin: 0 auto;
  --background: #fafafa;
  --text: #212121;
  --standard-padding: 0.5rem;
  --double-padding: calc(var(--standard-padding) * 2);
  --slim-padding: calc(var(--standard-padding) / 5);
  --sans-serif-font: "IBM Plex Sans", sans-serif;
  --sans-serif-condensed-font: "IBM Plex Sans Condensed";
  --monospace-font: "IBM Plex Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-font-size: 16px;
    --standard-margin: 0 auto;
    --background: #212121;
    --text: #fafafa;
    --sans-serif-font: "IBM Plex Sans", sans-serif;
    --monospace-font: "IBM Plex Mono", monospace;
  }
}

html {
  font-size: var(--base-font-size);
}

body,
header,
main,
section,
h1,
h2,
h3,
h4,
h5,
h6,
footer {
  margin: var(--standard-margin);
  max-width: none;
  background-color: var(--background);
  color: var(--text);
  font-family: var(--sans-serif-font);
}

body {
  padding: 0rem 0rem;
}

header,
footer {
  padding: var(--double-padding);
  font-weight: bold;
}

header {
  text-align: start;
}

header nav {
  padding: var(--standard-padding);
  font-size: 1.5rem;
}

header nav a:link {
  color: var(--text);
  text-decoration: none;
  padding-left: var(--standard-padding);
  padding-right: var(--standard-padding);
}

header nav a:visited {
  color: var(--text);
  text-decoration: none;
}

header nav a:hover {
  text-decoration: overline;
  text-decoration-color: var(--text);
}

article > p {
  max-width: 50rem;
  margin: var(--standard-margin);
  padding: var(--standard-padding);
  text-align: center;
}

article > h1 {
  max-width: 80rem;
  padding-top: var(--standard-padding);
  padding-left: var(--standard-padding);
  padding-right: var(--standard-padding);
  text-align: center;
  color: var(--text);
  font-family: var(--sans-serif-condensed-font);
}

article > p > time,
article > p > span {
  font-style: italic;
  font-weight: bold;
}

section {
  max-width: 50rem;
  line-height: 1.25;
  padding: var(--standard-padding);
}

img{ 
  
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  opacity: 0.9;
  object-fit: cover;
}


h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1.25rem;
}

p a:link,
p a:visited {
  color: var(--text);
  text-decoration: underline;
  text-decoration-color: var(--text);
}

code,
pre {
  font-family: var(--monospace-font);
  font-weight: bold;
  tab-size: 4;
  white-space: pre-wrap;
}

pre {
  padding-left: var(--double-padding);
  padding-right: var(--double-padding);
  border: 0.2rem solid var(--text);
}

hr {
  background-color: var(--text);
  height: 0.1rem;
}

footer {
  text-align: center;
}
